/* base styles */
body { font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
.container { max-width: 1100px; }
h1,h3,h4 { color: #0f9d58; }
.bg-orange {
        background-color: #ff8c00 !important;
        color: white !important;
    }